@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding:11px; 
    margin:0px;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 27px;
}

h1{
    font-size: 35px;
}
h2{
    font-size: 25px;
}
html{
    font-family:'Montserrat', sans-serif;
}


.tab-content{
    margin: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 120px;
    padding-top:50px;
    
}
.tab-content h1:nth-child(1){
align-items: flex-end;
padding-left: 550px;
font-size: 50px;
padding-bottom: 90px;
}
