@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
/* Contact me section */

/* *{
    padding:0; 
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
}
*/
body {
	background-image: url(../images/andr.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
}
.my-form {
    margin-top: 130px;
    padding-left: 200px;
    float: left;
    width: 60%;
}
.my-image {
    padding: 140px;
}
.form-group input[type="text"] {
    padding: 25px;
    width: 80%;
    margin-top: 5px;
    font-size: 35px;
}
.form-group textarea {
    width: 80%;
    padding: 50px;
    font-size: 30px;
}
.my-form .button {
    padding: 15px 25px;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    border-radius: 6px;
}
.my-form .button:hover {
    color: black;
    background-color: white;
}
