@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


*{
    padding:0; 
    margin:0;
    box-sizing: border-box;
    text-decoration:none;
}
html{
    font-size:20px;
    font-family:'Montserrat', sans-serif;
}
a{
   outline-color: white; 
    color: red;
   
}
.header {
	width: 100%;
	height: 100px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width:1800px;
    height:100%;
    display:block;
    margin:0 auto;
    
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}
.logo_container h1 span{
    font-weight: 800
}

.navigation{
float: right;
height:100%;
}
.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding:0px 40px
}
.navigation li{
    display: table-cell;
    vertical-align: middle;
    color: white;
    height: 100%;
    font-size: 25px;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin: auto;

}
/* end of header on page1  */
/* Hero section */
#hero{
    background-image: url(../images/pexels-negative-space-160107.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1
}
#hero::after{
    content: '';
    position:absolute;
    left: 0;
    top: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index:-1;;

}
#hero h1{
    display:block;
    width: fit-content; 
    font-size:4rem; 
    position:relative;
    color:rgb(252, 252, 252);
    margin: 25px;
}
#hero h1:nth-child(3){
    color:crimson;
    margin-bottom: 0px;
}
#hero .cta{
    display:inline-block;
    padding: 10px 26px; 
    background-color: transparent;
    border: 3px solid crimson; 
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 40px;
    transition:.3s ease background-color;
    transition-property: background-color,color;
    border-radius: 13px;
}
#hero .cta:hover{ 
    color: white;
    background-color: crimson;

}
/* END OF HERO SECTION */
/* HEADER SECTION */
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/*end of Header section */
